<h2><%= h @project.name %></h2>
<div class="meta author">
	by <%= h @project.owner_name %> <%= link_to h(@project.owner_url), h(@project.owner_url) %>
</div>
<div class="description">
	<%= truncate( h(project.description) ) unless project.description.blank? %>
	<%= auto_link simple_format(h(@project.description)) %>
</div>

<div class="comments">
	<%= render :partial => @project.comments %>
</div>
<% form_for Comment.new do |f| %>
	<%= f.text_fild :name %>
	<%= f.text_fild :url %>
	<%= f.text_area :body %>
	<%= f.submit %>
<% end %>
	
