<h2><%= h @project.name %></h2>

<% unless @project.url.blank? %>
	<h3 class="additional"><%= link_to h(@project.url), h(@project.url) %></h3>
<% end %>

<div class="meta author">
	by <%= h @project.owner_name %> <%= link_to h(@project.owner_url), h(@project.owner_url) %> <% unless @project.location.blank? %><%= h @project.location %> <% end %>
</div>

<div class="description">
	<%= image_tag @project.preview.url(:medium), :alt => h(@project.name), :class=>"preview" %>
	<%= simple_format auto_link(h(@project.description))  unless @project.description.blank? %>
</div>

<div class="comments">
	<%= render :partial => @project.comments %>
</div>

<% form_for Comment.new do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :url %>
	<%= f.text_field :url %>
	<%= f.label :body %>
	<%= f.text_area :body, :rows => 4 %>
	<%= f.submit %>
<% end %>
	
