<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>wasted time projects</title>
  <%= stylesheet_link_tag 'basics' %>
	<%= javascript_include_tag  :all, :cache => true %>
	
</head>

<body>
	<div id="header">
		<h1 id="logo"><%= link_to "wasted time projects", root_url %></h1>
		<h2 id="tag_line">gallery of great stuff that got born while wasting time.</h2>
		<ul id="navigation">
			<li><%= link_to 'ADD your project', new_project_url, :class=>"action_link" %></li>
		</ul>
	</div>
	
	<div id="content">
		<% %w{error notice ok}.each do |type| %>
	    <% unless flash[type.to_sym].blank? %>
	      <div class="flash <%= type %>">
	        <% if flash[type.to_sym].is_a?(ActiveRecord::Errors) %>
	          <%= error_messages_for(flash[type.to_sym]) %>
	        <% else %>
	          <%= flash[type.to_sym] %>
	        <% end %>
	      </div>
	    <% end %>
	  <% end %>

		<%= yield  %>
	</div>

	<div id="footer">	
		<p>a 2008 <a href="http://wastedtimeprojects.com" title="Wasted time project">wasted time</a> project brought to you by <a href="http://railslove.com/" title="Railslove - web love building web applications">Railslove</a></p>	
	</div>

	<% if RAILS_ENV == "production" %>
	<% end %>
</body>
</html>
